<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:mvc="http://www.springframework.org/schema/mvc"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:p="http://www.springframework.org/schema/p"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

   <!-- 實時工時連線資訊 -->   
   <!-- Oracle DB 連線資訊 -->
	<bean id="OracleDataSource" class = "org.springframework.jdbc.datasource.DriverManagerDataSource">
      <property name = "driverClassName" value = "oracle.jdbc.driver.OracleDriver"/>
      <property name = "url" value = "jdbc:oracle:thin:@10.8.91.122:1521:WarRoom"/>
      <property name = "username" value = "mesd"/>
      <property name = "password" value = "mesd"/>
    </bean>

   <!-- Definition for studentJDBCTemplate bean -->
   <bean id = "EmpDAO" class = "com.foxlink.realtime.service.Imp.EmpService">
      <property name = "dataSource" ref = "OracleDataSource" />    
   </bean>
   
   <bean id = "UserDAO" class = "com.foxlink.realtime.service.Imp.UserService">
      <property name = "dataSource" ref = "OracleDataSource" />    
   </bean>
</beans>